@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

* {
    box-sizing: border-box;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-y: scroll !important;
    /*modal*/
}

.modal-open {
    padding-right: 0 !important;
    /*modal*/
}

/*MAIN MENU*/

.navbar {
    background-color: white;
    padding: 0px 15px;
}

.scroll {
    display: none;
}

.navbar-toggler {
    margin: 5px 0px;
    box-shadow: none !important;
}

.flags_div {
    margin-right: auto;
    padding: 0px 15px;
}

.flag {
    border: none;
    background-color: white;
}

.navbar-brand span {
    color: #0C5D51;
    text-transform: uppercase;
    font-size: 14px;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 55px;
}

.custom-select {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.custom-select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-select-trigger .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    z-index: 999;
    display: none;
}

.custom-options .custom-option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.custom-options .custom-option img {
    margin-right: 10px;
}

.custom-options .custom-option:hover {
    background-color: #f1f1f1;
}

.custom-options .custom-option.selected {
    background-color: #f1f1f1;
}

.custom-select.open .custom-options {
    display: block;
}

.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #023436;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #037971;
}

.active {
    color: #037971 !important;
}

/*CAROUSEL HERO BANNER*/

.carousel {
    height: 87vh;
}

.carousel-indicators {
    width: 50%;
    margin: auto;
}

.carousel-indicators button {
    width: 5%;
}

.carousel-indicators .active {
    width: 33%;
}

.carousel-inner {
    height: 100%;
    background-color: white;
}

.carousel-item {
    height: 100%;
}

.carousel-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: contrast(80%);
    -webkit-animation: zoom 25s;
    animation: zoom 25s;
}

.carousel-img-1 {
    background-image: url(images/1-img-tbilisi.webp);
}

.carousel-img-2 {
    background-image: url(images/svaneti-9.webp);
}

.carousel-img-3 {
    background-image: url(images/3-image-gonio.webp);
}

.carousel-img-4 {
    background-image: url(images/4-image-tbilisi.webp);
}

.carousel-img-5 {
    background-image: url(images/gudauri-9.webp)
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }

    to {
        -webkit-transform: scale(1.3, 1.3);
    }
}

.carousel-caption {
    height: 70%;
    position: absolute;
    left: 7.33%;
    top: 55%;
    transform: translateY(-55%);
    text-align: start;
}

.carousel-caption h1 {
    position: absolute;
    left: 0%;
    top: 30%;
    text-transform: uppercase;
    font-size: 20px;
    visibility: hidden;
    animation-name: text-animation;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.carousel-caption p {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 63.3333333%;
    font-size: 18px;
    text-transform: uppercase;
    visibility: hidden;
    animation-name: text-animation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes text-animation {
    from {
        visibility: hidden;
        left: 0%;
    }

    to {
        visibility: visible;
        left: 5%;
    }
}

@media (max-width: 1050px) {
    .carousel-caption p {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .carousel-caption p {
        font-size: 16px;
    }
}

/*SERVICES LIST*/

.card {
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.card-body {
    position: relative;
    z-index: 0;
}

.card-body h5 {
    text-transform: uppercase;
    letter-spacing: .03em;
    font-size: 18px;
    padding: 15px 0px;
}

.card-service-p {
    color: #037971;
    text-transform: uppercase;
    font-size: 12px;
}

.services-small-col {
    height: 333px;
}

.services-big-col {
    height: 433px;
}

.card-body button {
    padding: 6px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0%;
}

.card-body button:hover {
    background-color: rgb(62, 169, 161);
    border-color: rgb(62, 169, 161);
}

.services-img {
    height: 333px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.services-img-big {
    height: 433px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

@media (max-width:576px) {
    .services-small-col {
        height: 450px;
    }

    .services-big-col {
        height: 650px;
    }

    .services-img {
        height: 225px;
    }

    .services-img-big {
        height: 325px;
    }
}

.footer,
.copyright {
    background-color: rgb(255, 255, 255);
    color: rgb(62, 169, 161);
}

.benefits-container {
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits {
    background-image: url(images/tbilisi-5.webp);
    position: fixed;
    top: 0;
    height: 100%; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -2; /* needed to keep in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    filter: brightness(85%);
}

.benefits-text h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 33.333px;
    font-weight: bold;
    margin: auto;
    width: 83%;
    text-align: center;
}

.col-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.col-img-1 {
    background-image: url(images/athletes-226546.png);
}

.col-img-2 {
    background-image: url(images/pngegg.png);
}

.col-img-3 {
    background-image: url(images/tbc.jpg);
}

.col-img-4 {
    background-image: url(images/Nova_Logo_Red_transparent_Background.png);
}

.col-img-5 {
    background-image: url(images/gopro-825822.png);
}

.social {
    color: #037971;
    font-size: 20px;
    padding-right: 6px;
}

@media (max-width:768px) and (min-width:362px) {
    .logo-div {
        margin: auto;
    }
}

.footer ul {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.footer ul li a,
.footer ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #037971;
    text-decoration: none;
}

.footer ul li a:hover,
.footer ul li:hover {
    color: #03b5aa;
}

.bi:hover {
    color: #03b5aa;
}

.l-container {
    padding-left: 40px;
    padding-right: 40px;
}

.book-header {
    background-image: url(images/book-11.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 200px 0px !important;
}

.btn-book {
    background-color: rgb(62, 169, 161);
    border-color: rgb(62, 169, 161);
    text-transform: uppercase;
}


@media only screen and (max-width: 890px) {
    .book-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .book-form {
        width: 80% !important;
    }

    .book-header {
        padding: 100px 0px !important;
    }
}

.book-form {
    background-color: rgba(255, 255, 255, 0.57);
    padding: 20px 25px;
    margin: 10px;
    width: 33.3333%;
}

.form-select option {
    text-transform: uppercase;
}

.header {
    height: 343px;
}

.about-header {
    background-image: url(images/event-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    /* fix for mobile browser address bar appearing disappearing */
    z-index: -2;
    /* needed to keep in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    filter: grayscale(100%);
}

.price , .bookCost {
    color: #037971;
    
}

.terms a {
    color: #037971;
    font-weight: 600;
    text-decoration: none;
}

.terms a:hover {
    color: green;
}

.terms a {
    font-size: 16px;
}


input[type="text"]:focus,
input[type="checkbox"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
.form-select:focus {
    border-color: rgba(19, 170, 160, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(19, 170, 160, 0.6);
    outline: 0 none;
}

input[type="checkbox"]:checked {
    background-color: rgb(19, 170, 160);
    border-color: rgb(19, 170, 160);
}

.iti {
    width: 100%;
}

.iti__country-list {
    left: -8%;
}

.iti__country-name {
    word-wrap: break-word;
}

.card-title {
    text-transform: uppercase;
}

.card-img-top {
    height: 253px;
}

.contact-map-row i {
    font-size: 16px;
}

.contact-map-row .card a {
    color: rgb(19, 170, 160);
    font-weight: 600;
}

.contact-map-row .card a:hover {
    color: green;
}

.about-img-1,
.about-img-2 {
    background-size: cover;
    height: 600px;
}

.about-img-2 {
    background-image: url(images/team-22.jpg);
    background-position: center center;
}